.App {
  display: flex;
  text-align: center;
  background-color: #282c34;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidemenu{
  width: 260px;
  /* border: 1px solid white; */
  background-color: #202123;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.chatbox{
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   position: relative;
}
#submit{
  position: absolute;
  bottom: 40px;
 right: 100px;
  cursor: pointer;

}
.info{
  color: rgba(225, 225, 225, 0.5); 
  font-size: 11px;
  padding: 10px;
  margin: auto;
}
.side-menu-button{
  padding: 12px;
  border: 1px solid white;
  border-radius: 5px;
  transition: ease 0.25s all;
}
.side-menu-button:hover{
 background-color: rgba(255,255,255,0.1);
}
.side-menu-button span{
  padding-bottom: 6px;
  padding-right: 12px;
}
.chat-input-holder{
 padding: 24px;
 position:absolute;
 bottom: 0;
 left: 0;
 right: 0;

}
.bottom-section{
  width: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center
  ;
}
.chat-input-textarea{
  background-color: #40414f;
  width: 90%;
  border-radius: 5px;
  padding: 6px;
  /* padding-top: 6px; */
  color: white;
  font-size: 1.2em;
  border: none;
  outline: none;
  /* font-size: 20px; */
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
  /* margin: 12px; */
 
}
.chat-log{
  /* padding: 24px; */
  /* display: flex; */
  
  /* text-align: left; */
  background-color: rgba(255,255,255,0.1);

  
}
 .chat-message{
 display: flex;
 /* justify-content: center; */
} 
.chat-message.chatgpt{
  background-color: #444654;
}
.chat-message-center{
 
  max-width: 640px;
 
  
  display: flex;

  gap: 22px;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
  

}
nav{
  border-top: solid 0.5px rgba(225,225,225,0.5);
  padding: 10px;
  margin: 10px;
  
  /* height: 100%; */
}
.history{
  padding: 10px;
  margin: 10px;
  height: 100%;
}
.history li{
   list-style: none;
   padding: 15px 0px;
   cursor: pointer;
}
.avatar{
background-color: white;
border-radius: 50%;
width: 40px;
height: 40px;

}
.avatar.chatgpt{
background-color: #0da375;
border-radius: 50%;
width: 40px;
height: 40px;

}
.message{

}